body {
    background-color: rgb(107, 165, 241);
    font: normal 15pt Ariel;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.33);
}

footer {
    color: white;
    text-decoration: none;
    font-style: italic;
    text-align: center;
}